<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name | default: "Title" }} - Luke Thomson - Floofinator</title>
    <link rel="stylesheet" href="{{ '/style.css' | url }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jua&family=Madimi+One&family=Pompiere&family=Varela+Round&display=swap"
        rel="stylesheet">
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
            }
        }
    </script>
    <script defer src="/js/sticky.js"></script>
    <script defer type="module" src="/js/background.js"></script>
</head>

<body>
    <div id="center-frame">
        <header>
            <h1>Floofinator</h1>
            <h2>Luke Thomson</h2>
        </header>
        <div id="content-frame">
            <nav>
                <div id="sticky">
                    {% for section in collections.section %}
                    {% if page.url | contains: section.url %}
                        <a href="{{ section.url }}" class="current">{{ section.data.name }}</a>
                    {% else %}
                        <a href="{{ section.url }}">{{ section.data.name }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </nav>
            <main>
                <h1>{{ title | default: "Title" }}</h1>
                <hr>
                {{ content }}
            </main>
        </div>
        <footer>
            <a class="link" href="https://floofinator.neocities.org/"><img class="icon"
                src="https://neocities.org/img/cat.png">Neocities</a>
            <a class="link" href="https://ko-fi.com/floofinator"><img class="icon"
                src="/icons/kofi.png">Kofi</a>
            <a class="link" href="https://twitter.com/floofinator7"><img class="icon"
                src="/icons/twitter.png">Twitter</a>
            <a class="link" href="https://www.youtube.com/@floofinator/"><img class="icon"
                src="/icons/youtube.png">Youtube</a>
            <a class="link" href="https://floofinator.itch.io/"><img class="icon" 
                src="/icons/itchio.png">Itch.io</a>
            <a class="link" href="https://floofinator7.newgrounds.com/"><img class="icon"
                src="/icons/newgrounds.png">Newgrounds</a>
            <a class="link" href="javascript:location='mailto:\u0063\u006f\u006e\u0074\u0061\u0063\u0074\u0040\u0066\u006c\u006f\u006f\u0066\u0069\u006e\u0061\u0074\u006f\u0072\u002e\u0063\u006f\u006d';void 0">
                <img class="icon" src="/icons/mail.png">Send Me an E-mail</a>
            <a class="link" href="/Resume.pdf">
                <img class="icon" src="/icons/document.png">My Resume</a>
        </footer>
    </div>
    <canvas id="background"></canvas>
</body>

</html>