@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@font-face { font-family: 'Genotype'; src: url('genotype/GENOTYPE.TTF'); }
@font-face { font-family: 'White Rabbit'; src: url('white-rabbit/whitrabt.ttf'); }
body{
    background-color: black;
    height: 100%;
}
#background{
    background-repeat: repeat;
    background-size: 32px;
    background-position: center;
    background-image: url('background.png');
}
h1,h2{
    color: white;
}
#title{
    background-color: black;
    margin: 64px;
}
h1{
    margin-top: 128px;
    font-family: 'Orbitron', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100px;
    animation-name: flicker;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
}
@keyframes flicker {
    0% {transform: scale(0,0);}
    50% {transform: scale(1,0.125);}
    100% {transform: none;}
}

h2{
    margin: 16px;
    font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 60px;
}
hr{
    color:black;
    margin: auto;
    border-width: 2px;
    border-style: solid;
}
p{
    font-family: 'White Rabbit', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
    background-color: white;
    margin: 8px;
    padding: 16px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}
.subSection{
    margin: 32px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
.row {
    display: flex;
    border-width: 4px;
    margin: 8px;
    border-color: black;
    border-style: solid;
}
.column {
    display: flex;
    margin: 8px;
    width: 100%;
    height: min-content;
    flex-direction: column;
}
.unevenColumn{
    display: flex;
    margin: 8px;
    max-width: 100%;
    height: min-content;
    flex-direction: column;
}
.media{
    filter: drop-shadow(0px 0px 4px black);
    display: flex;
    margin: auto 0;
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.125s;
}
.media:hover{
    animation-name: hop;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
span.stretch {
    letter-spacing: 4px;
    display: inline-block;
    transform: scale(1.5,1);
    margin-bottom: -50%;
}
span.squash {
    letter-spacing: 4px;
    display: inline-block;
    transform: scale(0.75,1);
    transform-origin: 0 0;
    margin-bottom: -50%;
}
@keyframes hop {
    100% {transform: none; animation-timing-function: ease-out;}
    50% {transform: translate(0,-32px); animation-timing-function: ease-in;}
    100% {transform: none;}
}
.game{
    display: block;
    margin: auto;
    width: 100%;
    height: 512px;
}
#moving{
    width: 64px;
    height: 64px;
    position: absolute;
    z-index: 1;
}