:root {
    --very-small: 4px;
    --small: 8px;
    --medium: 16px;
    --large: 32px;
    --very-large: 48px;
    --nav-height: 50px;
    --nav-width: 100px;
    --background: #5a2078;
    --base: #b3d9e6;
    --base-highlight: #96f8ff;
    --base-faded: #7298b8;
    --text: black;
    --text-highlight: #b964de;
    --shade-color: rgba(0, 64, 128, 0.5);
    --shade-filter: drop-shadow(-2px 2px 4px var(--shade-color));
    --glow-filter: drop-shadow(0px 0px 8px var(--text-highlight));
    --expo-ease: cubic-bezier(0.34, 1.56, 0.64, 1);
    --aero-gradient: linear-gradient(0deg, rgba(123, 209, 255, 0.75) 0%, rgba(70, 179, 236, 0.25) 10%, rgba(82, 196, 255, 0.25) 78%, rgba(230, 243, 255, 0.75) 100%);
    --aero-flipped-gradient: linear-gradient(180deg, rgba(123, 209, 255, 0.75) 0%, rgba(70, 179, 236, 0.25) 10%, rgba(82, 196, 255, 0.25) 78%, rgba(230, 243, 255, 0.75) 100%);
}

nav a,
main,
.thumbnail h2,
footer,
.link,
.kofi-button,
footer a,
section {
    background-image: var(--aero-gradient);
    background-blend-mode: hard-light;

    border: 2px outset rgba(230, 255, 255, 1);

    box-shadow: -2px 2px 4px var(--shade-color);
}

*::-webkit-scrollbar {
    width: var(--medium);
}

*::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: var(--medium);
}

*::-webkit-scrollbar-thumb {
    background: var(--base);
    border-radius: var(--medium);
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--base) var(--background);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 1.1rem;
    background-color: var(--background);
}

body {
    min-height: 100%;
}

#center-frame {
    display: flex;
    /* display: none; */
    flex-direction: column;

    flex-grow: 1;

    max-width: 1200px;
    height: 100vh;

    margin: auto;
    padding: 0px var(--large);
}

#content-frame {
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}

main {
    display: flex;
    justify-content: center;

    height: 100%;

    background-color: var(--base);

    flex-grow: 1;
    flex-direction: column;

    border-radius: var(--small);
    padding: var(--medium);
}

section {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;

    background-color: var(--base);
    background-image: var(--aero-flipped-gradient);

    /* width: calc(100% - var(--medium)); */

    flex-shrink: 1;
    flex-grow: 1;

    border: 2px inset rgba(230, 255, 255, 1);
    border-radius: var(--medium);

    /* margin: var(--small); */
    padding: var(--medium);

    box-shadow: -2px 2px 8px 0px var(--shade-color) inset;
}

.grid {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    transition: all 0.2s;
}

header {
    padding: var(--medium);
}

header h1,
header h2 {
    letter-spacing: 1rem;

    position: relative;
    height: max-content;
    width: max-content;

    background: rgb(171,93,201);
    background: linear-gradient(66deg, rgba(171,93,201,1) 12%, rgba(154,181,242,1) 16%, rgba(171,93,201,1) 37%, rgba(207,149,232,1) 41%, rgba(171,93,201,1) 71%, rgba(221,116,220,1) 75%, rgba(171,93,201,1) 100%); 
    
    background-size: 200%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: scroll 5s linear infinite;

    color: var(--text-highlight);
    filter: drop-shadow(2px 0px 2px black) drop-shadow(-2px 0px 2px black) drop-shadow(0px 2px 2px black) drop-shadow(0px -2px 2px black)
}

@keyframes scroll {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

.hidden {
    opacity: 0;
    transition: all 0.4s;
    transform: scale(1.25) rotate(5deg);
}

@media (prefers-reduced-motion: no-preference) {
    .show {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}


nav,
#sticky {
    height: 100%;
    width: var(--nav-width);
    min-width: var(--nav-width);
}

#sticky {
    display: flex;
    flex-direction: column;
}

p,
a,
li,
figcaption {
    color: var(--text);
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
    transition-timing-function: var(--expo-ease);
    border-radius: var(--medium);
}

a:hover {
    color: var(--text-highlight);
    filter: var(--glow-filter);
}

.link,
.kofi-button {
    background-color: var(--base-faded);
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    width: max-content;
}

.link:hover,
.kofi-button:hover {
    transform: scale(1.1);
    background-color: var(--base-highlight);
}

p .link {
    padding: 0px var(--small);
    margin: 0px var(--very-small);
    padding-right: var(--large);
}

.link .icon {
    position: absolute;
    width: var(--large);

    right: -8px;

    transition: all 0.2s;
    transition-timing-function: var(--expo-ease);

    transform: scale(1.5);
}

.link:hover .icon {
    transform: scale(2) translate(2px);
}

#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    /* filter: blur(1px); */
}

nav a {
    display: block;

    height: var(--nav-height);
    width: auto;

    text-align: center;

    padding: var(--medium);
    margin: var(--small) 0px var(--small) 0px;

    border-radius: var(--medium) 0px 0px var(--medium);

    border-right-width: 0;

    background-color: var(--base-faded);
}

nav a:hover {
    margin-left: -16px;
    background-color: var(--base-highlight);
    filter: var(--glow-filter);

    transform: none;
}

.current {
    background-color: var(--base);
    margin-left: -8px;
}

.sticking {
    position: fixed;
    top: 0;
}

@media screen and (max-width: 1000px) {
    #content-frame {
        flex-direction: column;
    }

    .current {
        margin-left: var(--small);
    }

    nav,
    #sticky {
        height: var(--nav-height);
        width: 100%;
        flex-shrink: 0;
    }

    #sticky {
        flex-direction: row;
    }

    nav a {
        height: auto;
        margin: 0px var(--small) 0px var(--small);
        border-radius: var(--medium) var(--medium) 0px 0px;
        border-bottom-width: 0px;
        border-right-width: 2px;
    }

    nav a:hover {
        margin: 0px var(--small) 0px var(--small);
        margin-top: -16px;
    }

    .sticking a {
        border-radius: 0px 0px var(--medium) var(--medium);
    }

    .sticking a:hover {
        margin: 0px var(--small) 0px var(--small);
        padding: 32px var(--medium) 0px var(--medium);
        margin-bottom: -16px;
    }

    .sticking {
        z-index: 100;
    }
}

main h1 {
    color: var(--text);
    max-width: max-content;
}

hr {
    border-color: var(--text);
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-bottom: var(--medium);
}

img {
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: var(--small) auto;
    border-radius: var(--small);
}

.thumbnail,
figure {
    height: 25vh;
    max-width: 25vh;

    display: flex;
    flex-direction: column;

    flex-grow: 1;

    align-items: center;
    justify-content: center;

    margin: var(--small);
}

.thumbnail img {
    transition: all 0.2s;
    transition-timing-function: var(--expo-ease);

    filter: var(--shade-filter);
}

.thumbnail:hover img {
    transform: scale(1.1) rotate(5deg) translate(0px, -16px);
}

.thumbnail h2 {
    text-align: center;

    background-color: var(--base-faded);

    width: max-content;

    margin: var(--small) auto;
    padding: var(--small) var(--medium);

    border-radius: var(--small);

    transition: all 0.2s;
    transition-timing-function: var(--expo-ease);
}

.thumbnail:hover h2 {
    background-color: var(--base-highlight);
    transform: scale(1.1) rotate(-5deg);
}

figure {
    height: 40vh;
    max-width: 500px;
    min-height: 400px;
}

figcaption {
    text-align: center;

    margin: var(--medium) auto;
    padding: var(--small) var(--large);
}

footer {
    margin-top: var(--medium);
    border-top-left-radius: var(--medium);
    border-top-right-radius: var(--medium);
    background-color: var(--base-faded);
    padding: var(--medium);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom-width: 0px;
}

li {
    padding: 0px;
    margin: var(--medium);
}

li a {
    margin: 0px var(--small);
    padding: var(--small) var(--medium);
    padding-right: var(--large);
}

footer a {
    margin: var(--medium);
    padding: var(--small) var(--medium);
    padding-right: var(--very-large);
}


footer .link .icon {
    right: 0px;
}

footer .link:hover .icon {
    transform: scale(2) translate(4px);
}


.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pompiere-regular {
    font-family: "Pompiere", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.25rem;
}