.pageFade {
    animation-name: pageFade;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 
}
@keyframes pageFade {
    0%{opacity: 1;}
    100%{opacity: 0;}
}
.pageAppearRight {
    animation-name: pageAppearRight;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 
}
.pageAppearLeft {
    animation-name: pageAppearLeft;
    animation-duration: 0.5s;
    animation-iteration-count: 1; 
}
@keyframes pageAppearRight {
    0%{filter: contrast(0); opacity: 0; transform: translate(64px);}
    100%{filter: contrast(1); opacity: 1; transform: none;}
}
@keyframes pageAppearLeft {
    0%{filter: contrast(0); opacity: 0; transform: translate(-64px);}
    100%{filter: contrast(1); opacity: 1; transform: none;}
}
#page{
    display: flex;
    align-content: center;
    height: 100vh;
}
.fullButton{
    display: block;
    box-sizing: border-box;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    color: transparent;
    background-color: transparent;
}
.fullButton:hover{
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.fullButton:active{
    color: transparent;
    transition: color 0s;
    text-decoration: none;
    background-color: transparent;
}

.fullButton:disabled{
    color: transparent;
    transition: color 0s;
    text-decoration: none;
    background-color: transparent;
}