---
layout: layout.html
title: Art
name: Art
tags: section
thumbnail: /media/thumbnail/art.png
---
<section class="grid">
    <figure class="hidden"><iframe src="https://www.youtube.com/embed/qLurAhsqXWc?si=s68KN4hb3gHuHgHP"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <figcaption>Programming, 3D modelling, 3D animation, 2D animation, and much more on the game ENA: Dream BBQ!
        </figcaption>
    </figure>
    <figure class="hidden">
        <iframe src="https://www.youtube.com/embed/TmXe-ZGr5RM?si=eGEzi7iC_DHlvFvF" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <figcaption>3D modelling and animation for the bunny character named Ivy!</figcaption>
    </figure>
    <figure class="hidden">
        <video autoplay muted controls>
            <source src="/media/videos/DreamBBQReel.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </figure>
    <figure class="hidden">
        <iframe src="https://www.youtube.com/embed/mIgER8wwSqE?si=XpGrfpkh9bjUMdiA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <figcaption>Experiments in shaders and postprocessing to achieve a pixelated visual style.</figcaption>
    </figure>
    <figure class="hidden">
        <img src="/media/art/Paige.gif">
        <figcaption>3D Animation of Ms.Paige with only 1024 tris and 1024x1024 pixel texture.</figcaption>
    </figure>
    <figure class="hidden">
        <img src="/media/art/Leila Spin.gif">
        <figcaption>2D handrawn turnaround of Laila</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\Snail-spin.gif">
        <figcaption>3D rigged character model posed for turnaround</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\snail turn background compressed.gif">
        <figcaption>3D rigged character model with custom shader background to match the MV it is based on!</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\VoronoiRealm.gif">
        <figcaption>Crazy 3D voronoi shader from scratch</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\what.gif">
        <figcaption>Scaled to 0.01 on the z-axis, outline shader, and stencil shader to render eyebrows above the hair.
        </figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\turn transparent.gif">
        <figcaption>A 3D pre-vis rigged character model for rotoscoping 2D animation</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\Escape.gif">
    </figure>
    <figure class="hidden">
        <img src="\media\art\fox.gif">
        <figcaption>I love looping animations</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\snailien!.png">
        <figcaption>Wahooo!!!!</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\free runner small.gif">
        <figcaption>Game prototype made in Godot 3 to mimic the momentum and speed of freerunning</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\Mckenzie1.png">
        <figcaption>Sketch</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\Mckenzie2.png">
        <figcaption>Sketch again</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\Mr.Rabbit.png">
        <figcaption>Sketch rabbit</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\plantet anim.gif">
        <figcaption>Space botanist</figcaption>
    </figure>
    <figure class="hidden">
        <img src="/media/art/retro.gif">
        <figcaption>90s anime style test using a snail's house character</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\animation 8-20-2021.gif">
        <figcaption>Silly animation from when I tried to animate every day for a month</figcaption>
    </figure>
    <figure class="hidden">
        <img src="\media\art\WOULD YOU LIKE TO.gif">
        <figcaption>Proceedural text animation that got out of hand</figcaption>
    </figure>

    {% for post in collections.art %}
    {% if post.url != page.url %}
    <a class="thumbnail hidden" href="{{ post.url }}">
        <img src="{{ post.data.thumbnail | default: '/media/background.jpg'}}">
        <h2>{{ post.data.name }}</h2>
    </a>
    {% endif %}
    {% endfor %}
</section>